* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header,footer{
    width: 100%;
}

header {
    background: url(https://www.justwatch.com/appassets/img/home/bg-tiles/bg-tiles.webp);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-container {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background-color: rgba(0,0,0,0.5);
    
}

#chk1 {
    display: none;
}

i{
    color: rgb(115, 118, 120); 
    cursor: pointer;
}

.nav-container .logo {
    flex: 1;
    margin-left: 70px; 
}

.nav-container .search-box{
    flex: 1;
    position: relative;
}

.search-box input {
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(35, 37, 51);
    color: grey;
    font-size: 16px;
    text-align:center;
    border-radius: 10px;
} 

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.9);
    background: rgb(35, 37, 51);
}

.sign-btn {
    margin-right: 150px;
    width: 60px;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(35, 37, 51);
    color: white;
    font-size: 16px;
    text-align:center;
    border-radius: 10px;
}

.sign-btn:hover {
    background-color: grey;
}

.nav-container ul {
    flex: 0.5;
    display: flex;
    justify-content: space-evenly;
}

.nav-container ul li{
    list-style: none;
}

.nav-container ul li a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
    padding: 10px 15px;
}

.nav-container ul li a:hover{
    color: white;
}

.nav-container .menu {
    font-size:  2.5em;
    display: none;
}

@media(max-width:1000px) {
    .search-box button {
        position: absolute;
    }
    .nav-container ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    .nav-container .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul {
        right: 0;
    }
}

@media(max-width:600px) {
    .nav-container .logo {
        font-size: 10px;
        margin-left: 8px;
    }
    .nav-container ul {
        width: 100%;
    }
}

.header-content{
    display: flex;
    justify-content: space-between;
    margin: 60px;
    padding-top: 100px;

}

.text h1{
    color: white;
    font-size: 46px;
    line-height: 55px;
    margin-bottom: 20px;
}

.text p{
    color: gray;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 40px;
}

.btn-a{
    width: 300px;
    height: 60px;
    background: #d2b220;
    border: 2px solid #eac627;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.header-content .btn-a:hover{
    background-color: #ebd571;
}

.btn-c{
    margin-left: 10px;
    width: 130px;
    height: 60px;
    text-align: center;
    background: #9a9894;
    border: 2px solid #9a9894;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.btn-c:hover{
    background-color: #e5dccb;
}

.text ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.text ul li a{
    text-decoration: none;
    color: #d2b220;
    font-size: 10px;
    margin-left: 4px;
}

.text ul li img{
    width: 40px;
    margin-left: 8px;
    border-radius: 5px;
}

.text img{
    width: 70%;
    height: auto;
    margin-right: 0;
    margin-top: 0;
}

.section-1{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
    height: 500px;
}

.section-1 img{
    width: 600px;
    height: auto;
}

.section-1-text{
    margin-left: 120px;
    margin-right: 80px;
    text-align: left;
    align-items: center;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-1-text span{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #d2b220;
}

.section-1-text h2{
    font-size: 38px;
    margin-bottom: 25px;
    color: white;
    line-height: 40px;
}

.section-1-text p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 520px;
    background-color: #000;
}

.section-2 img{
    width: 600px;
    height: auto;
}

.section-2-text{
    margin-left: 140px;
    margin-right: 130px;
    text-align: left;
    align-items: center;
    line-height: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.section-2-text span{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #d2b220;
}

.section-2-text h2{
    font-size: 38px;
    margin-bottom: 30px;
    line-height: 40px;
    color: white;
}

.section-2-text p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}


.section-3{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    height: 520px;
}

.section-3 img{
    width: 550px;
    height: auto;
}

.section-3-text{
    margin-left: 130px;
    margin-right: 140px;
    text-align: left;
    align-items: center;
    line-height: 30px;
    margin-bottom: 20px;
}

.section-3-text span{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #d2b220;
}

.section-3-text h2{
    font-size: 38px;
    margin-bottom: 40px;
    color: white;
}

.section-3-text p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}



footer{
    position: absolute;
    height: 200vh;
    background-color: black;
    text-align: center;

    
}

.logo-pic{
    max-width: 100%;
    vertical-align: middle;
}

footer h2{
    margin: 0 200px;
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
    box-sizing: border-box;

}

.btn-b{
    width: 300px;
    height: 60px;
    background: #d2b220;
    border: 2px solid #eac627;
    margin-top: 60px;
    margin-bottom: 150px;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-list{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 16%;
    line-height: 30px;
}

.footer-col h4{
    color: white;
    font-size: 18px;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    font-size: 16px;
}

.footer-col ul li a{
    text-decoration: none;
    color: rgb(60, 144, 177);
}

.footer-col ul li a:hover{
    color: white;
}


.footer-bottom p{
    text-align: left;
    margin-left: 40px;
    color: gray;

}

.footer-logo img{
    padding: 10px;
    width: 160px;
    float: right;

}